/* begin site-header */
*,::after,::before{
    box-sizing: border-box;
}
section{
    display: block;
}
#site-header .row{
    margin: 0px;
}
#site-header {
    position: absolute;
    width: 100%;
    z-index: 999;
}
#site-header .main-container{
    display: flex;
    align-items: center;
}
#site-header .navbar{
    padding: 50px 0px;
    align-content: center;
    margin-bottom:0px;
    position: relative;
}
.menu-main li{
    display: inline-block;
    margin:20px;
}
.page-padding-left{
    padding-left: 75px !important;
}
.page-padding-right{
    padding-right:75px !important;
}
.menu-main a{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-decoration-line: none;
}
.menu-main a:hover{
    color:black;
    cursor: pointer;
}
.menu-main ul{
    list-style-type: none;
} 
.logo-container{
    margin-top:15px;
    margin-left:20px;
}
.main-container{
    width: 100%;
}
.row{
    margin: 0px;
}
/* end site-header */
/* body - section home */
#home .section-content{
    display: flex;
    align-items: center;
}
#home .intro{
    padding: 80px 5% 0; 
}
#home .title-intro{
    font-size: 30px;
    font-weight: 400;
}
#home .title-content-intro{
    font-weight: normal;
    line-height: 1.5;
    color:#767676;
}
#home .cover{
    padding-right:0;
    flex:0 0 50%;
    max-width: 50%;
}
#home .cover .cover-image img{
    object-fit: contain;
    width:100%;
    height: 100%;
}
#home{
    padding-bottom: 50px;
}
/* end body - section home */
/* about */
#about {
    height:300px;
    background-image: url("../f-proj/imgs/bg-seg01.png"),url("../f-proj/imgs/bg-seg02.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 15%,10%;
    background-position: left bottom,right center;
    /* margin-bottom: 100px; */
}
#about .about-title{
    text-align: center;
}
#about .about-title .about-title-text{
    display: inline-block;
    text-align: center;
    padding:50px 150px 30px;
    background-image: url("../f-proj/imgs/title-bg-left.svg"),url("../f-proj/imgs/title-bg-right.svg");
    background-repeat: no-repeat,no-repeat;
    background-size:contain,70px;
    background-position: left,calc(100% - 100px);
}
#about .about-title .about-title-text{
    font-size:30px;
    font-weight: 600;
}
#about .about-content{
    max-width: 900px;
    margin:0 auto;
    text-align: center;
}
#about .about-content .content{
    line-height: 1.5;
}
/* end about */
/* our team */
#ourteam{
    text-align: center;
    background-image: url("../f-proj/imgs/team-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding:50px 0 180px;
    margin-bottom: 100px;
}
#ourteam .ourteam-title{
    font-size: 40px;
    font-weight: 600;
    color:white;
    /* padding:50px 0 180px ; */
}
#ourteam .ourteam-content{
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    width: 900px;
    background-color: white;
    padding:30px;
    transform: translateY(20px);
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15);
}
#ourteam .ourteam-content .num{
    font-size: 60px;
    margin:0;
    line-height: 1.5;
    font-weight: 400;
}
#ourteam .ourteam-content .text{
    font-size:25px;
    margin:0;
    opacity: 0.5;
}
#ourteam .ourteam-content .row div::after{
    content: '';
    height: 60px;
    width: 1px;
    right:0;
    top:0;
    bottom:0;
    margin-top:auto;
    margin-bottom:auto;
    position: absolute;
    background-color:black;
}
#ourteam .ourteam-content .row div:last-child::after{
    width: 0;
}
/* end our-team */
/* service */
#service{
    margin-top:110px;
    margin-bottom: 30px;
}
#service .service-title .service-header{
    background-image: url("../f-proj/imgs/title-bg-left.svg"),url("../f-proj/imgs/title-bg-right.svg");
    background-repeat: no-repeat, no-repeat;
    padding: 50px 30px 30px 0;
    background-size: 50%,60px;
    display: inline-block;
    background-position: 30%,right center;
}
.service-title .service-header{
    font-size:28px;
    font-weight:900;
}
.service-title .service-des{
    font-size:18px;
    opacity: 0.6;
}
/* end service */
#service .service-title .cover .cover-img img{
    width: 100%;
    padding: 330px 0 0 40px;
    vertical-align: center;
}
#service  .services-list-item:nth-of-type(2n+1){
    padding-right: 30px;
}
#service .services-list-item:nth-of-type(2n){
    padding-left: 10px;
    padding-top: 80px;
    
}
.services-content .row{
    display: flex;
    flex-wrap: wrap;
}
#service .services-list-item svg{
    max-width: 100%;
    overflow: hidden;
    vertical-align: middle;
}
#services .services-list-item .cover{
    margin-bottom: 20px;
}
#service .services-list-item{
    margin-bottom: 0px;
}
#service .services-content{
    padding-left: 90px;
}
